<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import nbformat

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [2]:
df = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep = ';')

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [3]:
display(df.shape) # узнаем размерность таблицы
display(df.info()) # выводим базовую информацию по таблице
display(df.head(10)) # выводим первые 10 строк
display(df.tail(10)) # выводим первые 10 строк
display(df.nunique()) # смотрим на уникальные значения

(44744, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

None

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано
5,"Мужчина , 29 лет , родился 5 октября 1989",25000 руб.,Технический специалист,"Старый Оскол , не готов к переезду , не готов ...",полная занятость,"полный день, сменный график",Опыт работы 9 лет 9 месяцев Технический специ...,Комбинат хлебопродуктов Старооскольский,Слесарь КИПиА,Неоконченное высшее образование 2013 Воронежс...,22.04.2019 15:59,Имеется собственный автомобиль
6,"Мужчина , 46 лет , родился 19 сентября 1972",250000 руб.,Руководитель ИТ-проектов,"Москва , не готов к переезду , готов к редким ...",полная занятость,полный день,Опыт работы 22 года 9 месяцев Руководитель ИТ...,"СИБИНТЕК, ООО ИК",Менеджер (Руководитель ИТ-проектов),Высшее образование 2008 ФГОУ ВПО «Уральская ак...,25.04.2019 22:48,Не указано
7,"Мужчина , 29 лет , родился 9 июля 1989",70000 руб.,Инженер АСУ ТП,"Москва , м. Бульвар Рокоссовского , готов к п...",полная занятость,полный день,Опыт работы 3 года 11 месяцев Декабрь 2016 — ...,ФМ-инжиниринг,Инженер АСУ ТП,Высшее образование 2014 Белорусская Государств...,07.05.2019 17:59,Не указано
8,"Мужчина , 29 лет , родился 11 июля 1989",65000 руб.,Ревизор,"Москва , м. Шоссе Энтузиастов , готов к перее...",полная занятость,полный день,Опыт работы 8 лет 9 месяцев Декабрь 2016 — по...,ФГБУ РСВО,Старший специалист,Неоконченное высшее образование 2020 Московск...,11.04.2019 11:08,Имеется собственный автомобиль
9,"Мужчина , 34 года , родился 26 мая 1984",55000 руб.,"Менеджер по работе с клиентами, Pre-sale менед...","Москва , м. Теплый Стан , не готов к переезду...",полная занятость,полный день,Опыт работы 16 лет 6 месяцев Июнь 2018 — по н...,"ООО ""Мираском""",Специалист отдела ИТ,Высшее образование 2007 Московский государств...,19.04.2019 11:39,Имеется собственный автомобиль

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
44734,"Мужчина , 23 года , родился 12 августа 1995",85000 руб.,Технический специалист со знанием нем/англ языков,"Москва , м. Коломенская , готов к переезду , ...",полная занятость,"гибкий график, полный день",Опыт работы 4 года 9 месяцев Август 2018 — по...,Plazius,Инженер технической поддержки,Высшее образование 2018 Московский государств...,07.05.2019 11:42,Имеется собственный автомобиль
44735,"Мужчина , 25 лет , родился 29 апреля 1993",70000 руб.,Тестировщик ПО Работу уже нашёл,"Москва , м. Сокольники , не готов к переезду ...",полная занятость,полный день,Опыт работы 2 года 4 месяца Тестировщик ПО Ра...,Юрайт,Тестировщик ПО,Высшее образование 2014 Московский государств...,21.09.2018 11:26,Не указано
44736,"Мужчина , 32 года , родился 26 января 1987",800 бел.руб.,"мастер по ремонту, водитель,продавец-консультант","Новополоцк , готов к переезду , готов к команд...","частичная занятость, полная занятость","гибкий график, полный день, сменный график",Опыт работы 10 лет 5 месяцев мастер по ремонт...,"""Электросервис и ко""",Специалист по продажам,Высшее образование 2011 Полоцкий государственн...,22.04.2019 01:03,Не указано
44737,"Мужчина , 31 год , родился 8 сентября 1987",70000 руб.,Руководитель IT-отдела,"Санкт-Петербург , м. Горьковская , не готов к...",полная занятость,полный день,Опыт работы 12 лет 8 месяцев Сентябрь 2013 — ...,ООО «Сендика Груп»,Руководитель отдела IT,Высшее образование 2010 Санкт-Петербургский г...,05.04.2019 18:05,Не указано
44738,"Мужчина , 37 лет , родился 12 марта 1982",150000 руб.,head of helpdesk,"Москва , м. Пятницкое шоссе , готов к переезд...",полная занятость,полный день,Опыт работы 17 лет 1 месяц Май 2017 — по наст...,"Будущее, НПФ",Начальник отдела технического обеспечения,Высшее образование 2005 Московский Государстве...,08.04.2019 09:47,Не указано
44739,"Мужчина , 30 лет , родился 17 января 1989",50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...","Тверь , готов к переезду (Москва, Химки) , гот...",полная занятость,"полный день, удаленная работа","Опыт работы 7 лет 7 месяцев Финансист, аналит...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,Высшее образование 2015 Московский гуманитарн...,22.04.2019 12:32,Не указано
44740,"Мужчина , 27 лет , родился 5 марта 1992",39000 руб.,"Системный администратор, IT-специалист","Липецк , готов к переезду , готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...","Опыт работы 7 лет Системный администратор, IT...",ИП Пестрецов,Предприниматель,Высшее образование (Бакалавр) 2016 Воронежски...,22.04.2019 13:11,Не указано
44741,"Женщина , 48 лет , родилась 26 декабря 1970",40000 руб.,"Аналитик данных, Математик","Челябинск , готова к переезду , готова к редки...",полная занятость,"полный день, удаленная работа",Опыт работы 21 год 5 месяцев Январь 1998 — по...,"ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,Высшее образование 2000 Южно-Уральский госуда...,09.04.2019 05:07,Не указано
44742,"Мужчина , 24 года , родился 6 октября 1994",20000 руб.,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...","частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,Высшее образование 2015 Тамбовский государств...,26.04.2019 14:25,Имеется собственный автомобиль
44743,"Мужчина , 38 лет , родился 25 апреля 1980",120000 руб.,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,Высшее образование 1997 Южно-Российский госуд...,05.07.2018 20:15,Не указано

Пол, возраст                       16003
ЗП                                   690
Ищет работу на должность:          14929
Город, переезд, командировки       10063
Занятость                             38
График                                47
Опыт работы                        44413
Последнее/нынешнее место работы    30214
Последняя/нынешняя должность       16927
Образование и ВУЗ                  40148
Обновление резюме                  18838
Авто                                   2
dtype: int64

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

4. Обратите внимание на информацию о числе непустых значений.

In [4]:
display(df.isnull().sum()) # смотрим на пропуски

Пол, возраст                         0
ЗП                                   0
Ищет работу на должность:            0
Город, переезд, командировки         0
Занятость                            0
График                               0
Опыт работы                        168
Последнее/нынешнее место работы      1
Последняя/нынешняя должность         2
Образование и ВУЗ                    0
Обновление резюме                    0
Авто                                 0
dtype: int64

5. Выведите основную статистическую информацию о столбцах.

In [5]:
display(df.describe())

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [6]:
display(df['Образование и ВУЗ'].apply(lambda x: True if ' образование' in x else False).sum()) # Проверяем, что слово 'образование' встречается в каждой записи
df['Образование'] = df['Образование и ВУЗ'].apply(lambda x : x.split(' образование')[0]) # выделяем новый признак
display(df['Образование'].unique()) #проверяем уникальные значения по новому признаку
df['Образование'].describe()
df.drop('Образование и ВУЗ', axis = 1, inplace = True) # удаляем признак 'Образование и ВУЗ'

44744

array(['Неоконченное высшее', 'Высшее', 'Среднее специальное', 'Среднее'],
      dtype=object)

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [7]:
'''
Цель: заменить признак 'Пол, возрас' на 'Пол' и 'Возраст'
Производится осмотр формата данных
При помощи функ split выделяются признаки и приводятся к нужному формату
- Для Пола M/Ж
- Для возраста int32
Удаляем признак 'Пол,возраст'

Отвечаем на вопросы

'''

display(df['Пол, возраст'].head())
df['Пол'] = df['Пол, возраст'].apply(lambda x : x.split(' ,')[0])  
display(df['Пол'].isnull().sum()) # Проверям возможные пропуски после преобразования
df['Пол'] = df['Пол'].apply(lambda x : 'М' if x == 'Мужчина' else 'Ж') 
display(df['Пол'].unique())

df['Возраст'] = df['Пол, возраст'].apply(lambda x : x.split(' ,')[1]) 
df['Возраст'] = df['Возраст'].apply(lambda x : x.split()[0]).astype('int32')

df.drop('Пол, возраст', axis = 1, inplace = True) 

display(round(df.value_counts('Пол',normalize = True)['Ж'] * 100,2)) # Определяем процент записей принадлежащих женщинам
display(round(df['Возраст'].mean(),1)) # Определяем средний возраст

0      Мужчина ,  39 лет , родился 27 ноября 1979
1       Мужчина ,  60 лет , родился 20 марта 1959
2    Женщина ,  36 лет , родилась 12 августа 1982
3        Мужчина ,  38 лет , родился 25 июня 1980
4       Женщина ,  26 лет , родилась 3 марта 1993
Name: Пол, возраст, dtype: object

0

array(['М', 'Ж'], dtype=object)

19.07

32.2

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

In [8]:
'''
Выделяем признак опыта рабоыт в месяцах на основе признака 'Опыт работы' 
Пишем функцию для преобразования
Применяем к дата сету

Удлаяем признак 'Опыт работы' 

Отвечаем на вопросы
'''

def exp2months(x):
    '''
    Функция преобразования опыта выраженного в строковом формате в годах и месяцах в число месяцев
    '''

    if x is np.nan: # Обрабатываем пропуски в изначальном признаке
        return np.nan
    
    elif x == 'Не указано': #Обрабатываем отсутствующие данные в изначальном признаке
        return np.nan
    
    result = 0
    years = ['лет','год','года'] # Задаем возможные варианты написания лет
    months = ['месяц','месяца','месяцев'] # Задаем возможные варианты написания месяца
    
    data = x.split('  ')[0].split()[2:] # обрезаем инзачальную строку
    
    for i in range(1,len(data)):
        if data[i] in years:
            result = result + 12 * int(data[i-1])
        if data[i] in months:
            result = result + int(data[i-1])
    
    return result


df['Опыт работы (месяц)'] = df['Опыт работы'].apply(exp2months)
display(df['Опыт работы (месяц)'].median()) #выводим медиану опыта работы

df.drop('Опыт работы',axis = 1, inplace = True)

100.0

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [9]:
'''
Из признака 'Город, переезд, командировки' выделяем 3 новых признака
Город выделяется при помощи split и маппинга с категориями

Для выделения Готовности к переезду используется функция readiness()

Для выделения признака готовности к командировкам используется сплит

Удаляем 'Город, переезд, командировки' признак

Отвечаем на вопросы
'''

display(df['Город, переезд, командировки'].head(100))
display(df['Город, переезд, командировки'][44740])
main_cities = ['Москва', 'Санкт-Петербург']
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
df['Город'] = df['Город, переезд, командировки'].apply(lambda x : x.split(' ,')[0] if x.split(' ,')[0] in main_cities else 'город-миллионник' if x.split(' ,')[0] in million_cities else 'другие') # Выделяем признак Город делая срез по шаблону и присваивая категорию

def readiness(x):
    '''
    Функция для выделения заданных фраз (ready, not_ready) и создание boolean признака на их основе
    '''
    ready = ['готов к переезду','готова к переезду','хочу переехать']
    not_ready = ['не готов к переезду', 'не готова к переезду']
    
    template = ' м.' # Определяем, шаблон, который будет использоваться для определения структуры строки изначального текста 
    data = x.split(' , ')
    if data[1][:3] == template:
        result = data[2] # При соотвествии шаблону, выбираем 3 элемент 
    else:
        result = data[1] # Если шаблон не встретился, выбираем 2 элемент
        
    result = result.split(' (')[0]
    
    if result in ready:
        return True
    elif result in not_ready:
        return False
    else:
        return np.nan
    
    
df['Готовность к переезду'] = df['Город, переезд, командировки'].apply(readiness) # Выделяем нужный признак
display(df['Готовность к переезду'].isnull().sum())


business_trip = ['готов к редким командировкам','готова к командировкам','готова к редким командировкам','готов к командировкам'] # Шаблон для признка коммандировки
df['Готовность к командировкам'] = df['Город, переезд, командировки'].apply(lambda x : True if x.split(' , ')[-1] in business_trip else False) # берем последений элемент строки, заполняем boolean признаком, игнорируя пропуски

display(df['Готовность к командировкам'])
display(df.info())
display(df.nunique())


display(round(df.value_counts('Город',normalize = True)['Санкт-Петербург']*100)) # отвечаем про долю резюме из СПБ
display(df.value_counts(['Готовность к командировкам','Готовность к переезду'],normalize = True)) #Ищем долю готовых к переезду и командировкам

df.drop('Город, переезд, командировки', axis = 1, inplace = True)#ваш код здесь

0     Советск (Калининградская область) , не готов к...
1     Королев , не готов к переезду , готов к редким...
2     Тверь , не готова к переезду , не готова к ком...
3     Саратов , не готов к переезду , готов к редким...
4     Москва , не готова к переезду , готова к коман...
                            ...
95    Краснодар , не готов к переезду , готов к кома...
96    Ростов-на-Дону , не готов к переезду , не гото...
97     Уфа , готова к переезду , готова к командировкам
98    Москва , не готов к переезду , не готов к кома...
99    Архангельск , готов к переезду , готов к редки...
Name: Город, переезд, командировки, Length: 100, dtype: object

'Липецк , готов к переезду , готов к командировкам'

0

0        False
1         True
2        False
3         True
4         True
         ...
44739     True
44740     True
44741     True
44742    False
44743    False
Name: Готовность к командировкам, Length: 44744, dtype: bool

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ЗП                               44744 non-null  object
 1   Ищет работу на должность:        44744 non-null  object
 2   Город, переезд, командировки     44744 non-null  object
 3   Занятость                        44744 non-null  object
 4   График                           44744 non-null  object
 5   Последнее/нынешнее место работы  44743 non-null  object
 6   Последняя/нынешняя должность     44742 non-null  object
 7   Обновление резюме                44744 non-null  object
 8   Авто                             44744 non-null  object
 9   Образование                      44744 non-null  object
 10  Пол                              44744 non-null  object
 11  Возраст                          44744 non-null  int32
 12  Опыт работы (месяц)              44574 non-null  float64
 13  Город                            44744 non-null  object
 14  Готовность к переезду            44744 non-null  bool
 15  Готовность к командировкам       44744 non-null  bool
dtypes: bool(2), float64(1), int32(1), object(12)
memory usage: 4.7+ MB

None

ЗП                                   690
Ищет работу на должность:          14929
Город, переезд, командировки       10063
Занятость                             38
График                                47
Последнее/нынешнее место работы    30214
Последняя/нынешняя должность       16927
Обновление резюме                  18838
Авто                                   2
Образование                            4
Пол                                    2
Возраст                               63
Опыт работы (месяц)                  517
Город                                  4
Готовность к переезду                  2
Готовность к командировкам             2
dtype: int64

11

Готовность к командировкам  Готовность к переезду
True                        False                    0.388477
                            True                     0.318657
False                       False                    0.253375
                            True                     0.039491
dtype: float64

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [10]:
'''
На основе знаения в полях Занятость и График создаем boolean признаки-маркеры
Использвем функцию transformation, которая позволяет определить наличе или отсутсие нужно признака

Отвечаем на вопросы, удаляем ставшими ненужными признаки

'''

def transformation(data, field2find):
    ''' 
    Функция возвращает True если запрашиваемый индекс находится в признаке
    '''
    for i in data.split(', '): 
        if i == field2find: # разбиваем признак на подстроки и проверяем значение в каждой подстроке
            return True
    return False


list_properties = ['Занятость','График'] #список значений по которым будем выделять признаки-маркеры
list_marker_properties = [] #создаем будующий список уникальных признаков-маркеров

'''
формируем уникальный список признаков маркеров для каждого искомого признака
'''
for i in list_properties:
    properties = set()
    for j in df[i].unique():
        for z in j.split(', '):
            properties.add(z)
    list_marker_properties.append(properties)

'''
В цикле перебираем и заполняем признаки маркерами
'''

for i in range(0,len(list_marker_properties)):
    for j in list_marker_properties[i]:
        df[j] = df[list_properties[i]].apply(transformation,args = ([j]))
        
        
display(df.head())

display(df[(df['проектная работа'] == True) & (df['волонтерство'] == True)]['Авто'].count()) # ищем ответ на вопрос Сколько людей ищут проектную работу и волонтёрство (в обоих столбцах стоит True)?
display(df[(df['вахтовый метод'] == True) & (df['гибкий график'] == True)]['Авто'].count())# ищем ответ на вопрос Сколько людей хотят работать вахтовым методом и с гибким графиком (в обоих столбцах стоит True)?

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,...,волонтерство,проектная работа,частичная занятость,стажировка,полная занятость,сменный график,полный день,вахтовый метод,гибкий график,удаленная работа
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,М,...,False,True,True,False,True,True,True,True,True,True
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,М,...,False,True,True,False,True,True,True,False,True,True
2,20000 руб.,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,Ж,...,False,False,False,False,True,False,True,False,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,М,...,False,True,True,False,True,False,False,False,True,True
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,Ж,...,False,False,False,False,True,False,True,False,False,False

436

2311

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [11]:
'''
Считываем новый data frame с курсами валют
Преобразовываем dataframe df, выделяем зарплату и валюту

Склеиваем 2 таблицы

Вычисляем желаемую зарплату в рублях по курсу 
Производим преобразования 

Отвечаем на вопросы

Удаляем ненужные признаки

'''


rates = pd.read_csv('data/ExchangeRates.csv') # Новый датафрейм с курсами валют
rates.drop(['per','time','vol'],axis = 1, inplace = True) # Отбрасываем ненужные поля
display(rates.head(20)) # Исследуем данные
display(rates.info())
display(rates[rates['currency'] == 'USD']['date']) # изучаем как огранизованы данные по 1 валюте
rates['date'] = rates['date'].astype('datetime64[ns]') # преобразовываем данные, по которым будет данные будут объединяться
display(rates.info())

''' Преобразования основного датафрейма df '''

df['date'] = df['Обновление резюме'].astype('datetime64[ns]').dt.date # Преобразуем данные в основном датафрейме и отбрасываем время
df['date'] = df['date'].astype('datetime64[ns]') 
display(df['date'].info())
display(df['date'])

df['salary_value'] = df['ЗП'].apply(lambda x : x.split(' ')[0]) # Выделяем целочисленный признак закрплаты
df['salary_value'] = df['salary_value'].astype('int64') 


currency_dict = {'грн.':'UAH','USD':'USD','бел.руб.':'BYN','KGS':'KGS', 'сум': 'UZS','AZN':'AZN','KZT':'KZT','руб.':'RUB','EUR':'EUR'}
df['currency'] = df['ЗП'].apply(lambda x: currency_dict[x.split(' ')[1]]) #Выделяем новый признак currency в формате ISO


'''Объединение таблиц'''

df_merge2 = pd.merge(df,rates, how='left',on = ['date','currency']) # Объединяем по 2 признакам

display(df_merge2.info()) # Проверяем осн информциию
display(df_merge2.isnull()) # Проверяем нули
display(df_merge2[df_merge2['currency'] == 'RUB']) # Подтвержаем, что nan у всех записей, указанных в RUB, т.к вспомогательная таблица не содержит обменного курса для RUB


df_merge2['close'].fillna(1, inplace = True) # заполняем пустые значения 1ми,
df_merge2['proportion'].fillna(1, inplace = True) # аналогично заполняем 1ми

df_merge2['ЗП (руб)'] = df_merge2['salary_value'] * df_merge2['close'] / df_merge2['proportion'] # считаем желаемый признак

display(round(df_merge2['ЗП (руб)'].median()/1000)) # счтает медианное значение по таблице

df_merge2.drop(['ЗП', 'Занятость','График','date','salary_value','close','currency','proportion'], axis = 1,inplace = True) # Удаляем ненужные признаки

df = df_merge2
display(df.info()) # производим сверку

   currency      date    close  proportion
0       USD  29/12/17  57.6291           1
1       USD  30/12/17  57.6002           1
2       USD  31/12/17  57.6002           1
3       USD  01/01/18  57.6002           1
4       USD  02/01/18  57.6002           1
5       USD  03/01/18  57.6002           1
6       USD  04/01/18  57.6002           1
7       USD  05/01/18  57.6002           1
8       USD  06/01/18  57.6002           1
9       USD  07/01/18  57.6002           1
10      USD  08/01/18  57.6002           1
11      USD  09/01/18  57.6002           1
12      USD  10/01/18  57.0463           1
13      USD  11/01/18  56.8734           1
14      USD  12/01/18  56.9957           1
15      USD  13/01/18  56.6019           1
16      USD  14/01/18  56.6019           1
17      USD  15/01/18  56.6019           1
18      USD  16/01/18  56.3569           1
19      USD  17/01/18  56.3878           1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5664 entries, 0 to 5663
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   currency    5664 non-null   object
 1   date        5664 non-null   object
 2   close       5664 non-null   float64
 3   proportion  5664 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 177.1+ KB

None

0      29/12/17
1      30/12/17
2      31/12/17
3      01/01/18
4      02/01/18
         ...
703    02/12/19
704    03/12/19
705    04/12/19
706    05/12/19
707    06/12/19
Name: date, Length: 708, dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5664 entries, 0 to 5663
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   currency    5664 non-null   object
 1   date        5664 non-null   datetime64[ns]
 2   close       5664 non-null   float64
 3   proportion  5664 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 177.1+ KB

None

<class 'pandas.core.series.Series'>
RangeIndex: 44744 entries, 0 to 44743
Series name: date
Non-Null Count  Dtype
--------------  -----
44744 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 349.7 KB

None

0       2019-04-16
1       2019-12-04
2       2019-04-16
3       2019-08-04
4       2019-04-22
           ...
44739   2019-04-22
44740   2019-04-22
44741   2019-09-04
44742   2019-04-26
44743   2018-05-07
Name: date, Length: 44744, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44744 entries, 0 to 44743
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ЗП                               44744 non-null  object
 1   Ищет работу на должность:        44744 non-null  object
 2   Занятость                        44744 non-null  object
 3   График                           44744 non-null  object
 4   Последнее/нынешнее место работы  44743 non-null  object
 5   Последняя/нынешняя должность     44742 non-null  object
 6   Обновление резюме                44744 non-null  object
 7   Авто                             44744 non-null  object
 8   Образование                      44744 non-null  object
 9   Пол                              44744 non-null  object
 10  Возраст                          44744 non-null  int32
 11  Опыт работы (месяц)              44574 non-null  float64
 12  Город                            44744 non-null  object
 13  Готовность к переезду            44744 non-null  bool
 14  Готовность к командировкам       44744 non-null  bool
 15  волонтерство                     44744 non-null  bool
 16  проектная работа                 44744 non-null  bool
 17  частичная занятость              44744 non-null  bool
 18  стажировка                       44744 non-null  bool
 19  полная занятость                 44744 non-null  bool
 20  сменный график                   44744 non-null  bool
 21  полный день                      44744 non-null  bool
 22  вахтовый метод                   44744 non-null  bool
 23  гибкий график                    44744 non-null  bool
 24  удаленная работа                 44744 non-null  bool
 25  date                             44744 non-null  datetime64[ns]
 26  salary_value                     44744 non-null  int64
 27  currency                         44744 non-null  object
 28  close                            2273 non-null   float64
 29  proportion                       2273 non-null   float64
dtypes: bool(12), datetime64[ns](1), float64(3), int32(1), int64(1), object(12)
memory usage: 6.8+ MB

None

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,...,сменный график,полный день,вахтовый метод,гибкий график,удаленная работа,date,salary_value,currency,close,proportion
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
44740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
44741,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
44742,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
44743,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,...,сменный график,полный день,вахтовый метод,гибкий график,удаленная работа,date,salary_value,currency,close,proportion
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,М,...,True,True,True,True,True,2019-04-16,29000,RUB,NaN,NaN
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,М,...,True,True,False,True,True,2019-12-04,40000,RUB,NaN,NaN
2,20000 руб.,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,Ж,...,False,True,False,False,False,2019-04-16,20000,RUB,NaN,NaN
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,М,...,False,False,False,True,True,2019-08-04,100000,RUB,NaN,NaN
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,Ж,...,False,True,False,False,False,2019-04-22,140000,RUB,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44739,50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...",полная занятость,"полный день, удаленная работа","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,22.04.2019 12:32,Не указано,Высшее,М,...,False,True,False,False,True,2019-04-22,50000,RUB,NaN,NaN
44740,39000 руб.,"Системный администратор, IT-специалист","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...",ИП Пестрецов,Предприниматель,22.04.2019 13:11,Не указано,Высшее,М,...,True,True,False,True,True,2019-04-22,39000,RUB,NaN,NaN
44741,40000 руб.,"Аналитик данных, Математик",полная занятость,"полный день, удаленная работа","ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,09.04.2019 05:07,Не указано,Высшее,Ж,...,False,True,False,False,True,2019-09-04,40000,RUB,NaN,NaN
44742,20000 руб.,Контент-менеджер,"частичная занятость, полная занятость",удаленная работа,IQ-Maxima,Менеджер проектов,26.04.2019 14:25,Имеется собственный автомобиль,Высшее,М,...,False,False,False,False,True,2019-04-26,20000,RUB,NaN,NaN
44743,120000 руб.,Руководитель проекта,полная занятость,полный день,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,05.07.2018 20:15,Не указано,Высшее,М,...,False,True,False,False,False,2018-05-07,120000,RUB,NaN,NaN

59

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44744 entries, 0 to 44743
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ищет работу на должность:        44744 non-null  object
 1   Последнее/нынешнее место работы  44743 non-null  object
 2   Последняя/нынешняя должность     44742 non-null  object
 3   Обновление резюме                44744 non-null  object
 4   Авто                             44744 non-null  object
 5   Образование                      44744 non-null  object
 6   Пол                              44744 non-null  object
 7   Возраст                          44744 non-null  int32
 8   Опыт работы (месяц)              44574 non-null  float64
 9   Город                            44744 non-null  object
 10  Готовность к переезду            44744 non-null  bool
 11  Готовность к командировкам       44744 non-null  bool
 12  волонтерство                     44744 non-null  bool
 13  проектная работа                 44744 non-null  bool
 14  частичная занятость              44744 non-null  bool
 15  стажировка                       44744 non-null  bool
 16  полная занятость                 44744 non-null  bool
 17  сменный график                   44744 non-null  bool
 18  полный день                      44744 non-null  bool
 19  вахтовый метод                   44744 non-null  bool
 20  гибкий график                    44744 non-null  bool
 21  удаленная работа                 44744 non-null  bool
 22  ЗП (руб)                         44744 non-null  float64
dtypes: bool(12), float64(2), int32(1), object(8)
memory usage: 4.4+ MB

None

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [3]:
fig_4_1h = px.histogram(
    data_frame = df,
    x = 'Возраст',
    title = 'Гисторграмма распределения признака Возраст',
    width = 900,
    height = 500
)

fig_4_1h.show()
fig_4_1b = px.box(
    title = 'Коробчатая диаграмма признака Возраст',
    data_frame = df,
    x = 'Возраст',
    width = 900,
    height = 500,
)
fig_4_1b.show()

NameError: name 'px' is not defined

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [13]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [14]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [15]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [16]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [17]:
# ваш код здесь

In [18]:
ваши выводы здесь

SyntaxError: invalid syntax (1506124366.py, line 1)

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [ ]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
# ваш код здесь

ваш коммментарий здесь